<ul class="menu">
    <li><a href="/"{{ if eq .URL "/" }} class="selected"{{ end }}>Aktuell</a></li>
    <li><a href="/archiv/"{{ if hasPrefix .URL "/archiv/" }} class="selected"{{ end }}>Archiv</a></li>
    <li><a href="/orchester/"{{ if hasPrefix .URL "/orchester/" }} class="selected"{{ end }}>Orchester</a></li>
    <li><a href="/dirigent/"{{ if hasPrefix .URL "/dirigent/" }} class="selected"{{ end }}>Dirigent</a></li>
    <li><a href="/vorstand/"{{ if hasPrefix .URL "/vorstand/" }} class="selected"{{ end }}>Vorstand</a></li>
</ul>