<html>
    {{ partial "head.html" (dict "title" "Archiv") }}
    <body>
        <div class="container">
            <div class="three columns">
                {{ partial "menu.html" . }}
            </div>
            {{ range $index, $element := sort .Data.Pages "Weight" "desc" }}
            <div class="row">
                <div class="six columns{{ if gt $index 0}} offset-by-three{{end}}">
                    {{ $element.Render "summary"}}
                </div>
                <div class="three columns">
                    {{ $element.Render "flyer"}}
                </div>
            </div>
            {{ end }}
        </div>
    </body>
</html>